services:
  sensor-simulator:
    build:
      context: ./sensors
      dockerfile: Dockerfile
    container_name: coldchain-sensor-simulator
    environment:
      - MQTT_BROKER=localhost
      - MQTT_PORT=1883
      - MQTT_QOS=1
      - PUBLISH_INTERVAL=5.0
      - NUM_COLD_ROOMS=5
      - NUM_TRUCKS=5
    network_mode: host
    restart: unless-stopped
