apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: coldchain
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
    - port: 9093
      targetPort: 9093
      name: controller
  selector:
    app: kafka