apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
  namespace: coldchain
  labels:
    app: kafka-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-consumer
  template:
    metadata:
      labels:
        app: kafka-consumer
    spec:
      containers:
        - name: consumer
          image: 443071119316.dkr.ecr.us-west-2.amazonaws.com/coldchain-digital-twin-ingestion:latest
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: ingestion-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: KAFKA_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: ingestion-config
                  key: KAFKA_GROUP_ID
            - name: KAFKA_TOPICS
              valueFrom:
                configMapKeyRef:
                  name: ingestion-config
                  key: KAFKA_TOPICS
            - name: MONGO_URI
              valueFrom:
                configMapKeyRef:
                  name: ingestion-config
                  key: MONGO_URI
            - name: MONGO_DB
              valueFrom:
                configMapKeyRef:
                  name: ingestion-config
                  key: MONGO_DB
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
      restartPolicy: Always